openapi: 3.2.0
info:
  title: ADSB Exchange Geospatial Filtering API
  description: 'The ADSB Exchange API provides real-time access to live global flight data,

    enabling retrieval of detailed information on aircraft positions, flight events, historical trace files,

    and many more aviation metrics.'
  termsOfService: https://www.adsbexchange.com/terms-of-use/
  contact:
    name: Contact ADSB Exchange
    url: https://www.adsbexchange.com/products/enterprise-api/
  version: v2
  x-logo:
    url: https://adsbexchange.com/wp-content/uploads/ax_logo_background_api-scaled.avif
    href: '#'
servers:
- url: https://gateway.adsbexchange.com/api/aircraft/v2
tags:
- name: Geospatial Filtering
  description: 'Endpoints allow filtering live data based on geospatial boundaries, such as latitude, longitude, altitudes, or even custom GeoJSON shapes.

    Use these endpoints to get information about aircraft within a specific radius from a given point, within a polygon, or within a custom shape.


    Note: When using GeoJSON shape files, only Polygon and MultiPolygon shapes are supported. Any other shapes will be ignored.'
paths:
  /lat/{lat}/lon/{lon}/dist/{dist}:
    get:
      tags:
      - Geospatial Filtering
      summary: Get aircraft in radius
      description: 'This endpoint will return aircraft data within the given radius (NM) of the provided coordinates.


        Get aircraft within 50 nautical miles of San Francisco:

        ```

        GET /api/aircraft/v2/lat/37.7749/lon/-122.4194/dist/50

        ```'
      operationId: GetApiAircraftV2LatLonDist
      parameters:
      - name: lat
        in: path
        required: true
        description: Latitude of the center point.
        schema:
          type: number
          format: double
        x-position: 1
      - name: lon
        in: path
        required: true
        description: Longitude of the center point.
        schema:
          type: number
          format: double
        x-position: 2
      - name: dist
        in: path
        required: true
        description: Radius in nautical miles.
        schema:
          type: number
          format: double
        x-position: 3
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models within the given radius.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /proximity/radius:
    post:
      tags:
      - Geospatial Filtering
      summary: Get aircraft in radius
      description: 'This endpoint will return aircraft data within the given radius (NM) of the provided points.


        Get aircraft within 50 nautical miles of San Francisco, and within 20 nautical miles from New York (KJFK) at altitudes between 5000 and 30000 feet:

        ```

        POST /api/aircraft/v2/proximity/radius

        {

        "filters": [

        {

        "latitude": 37.7749,

        "longitude": -122.4194,

        "radius": 50

        },

        {

        "latitude": 40.641,

        "longitude": -73.775,

        "radius": 20,

        "altitude_min": 5000,

        "altitude_max": 30000

        },

        ...

        ]

        }

        ```'
      operationId: PostApiAircraftV2ProximityRadius
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: request
        description: JSON request model containing a list of distance filters (points).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProximityRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Response containing a collection of aircraft models within the given radius.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /minimal/lat/{lat}/lon/{lon}/dist/{dist}:
    get:
      tags:
      - Geospatial Filtering
      summary: Get aircraft in radius (minimal)
      description: This endpoint will return aircraft data within the given radius (NM) of the provided coordinates. The data will be returned in a minimal representation.
      operationId: GetApiAircraftV2MinimalLatLonDist
      parameters:
      - name: lat
        in: path
        required: true
        description: Latitude of the center point.
        schema:
          type: number
          format: double
        x-position: 1
      - name: lon
        in: path
        required: true
        description: Longitude of the center point.
        schema:
          type: number
          format: double
        x-position: 2
      - name: dist
        in: path
        required: true
        description: Radius in nautical miles.
        schema:
          type: number
          format: double
        x-position: 3
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models within the given radius.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionMinimalResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /nohex/dist/{dist}/above/{alt}/lat/{lat}/lon/{lon}:
    get:
      tags:
      - Geospatial Filtering
      summary: Get aircraft in radius (above altitude)
      description: 'This endpoint will return aircraft data within the given radius (NM) of the provided coordinates, and above the provided altitude (ft).


        Get aircraft within 50 nautical miles of San Francisco, above 5000 feet (sea level):

        ```

        GET /nohex/dist/50/above/5000/lat/37.7749/lon/-122.4194

        ```'
      operationId: GetApiAircraftV2NohexDistAboveLatLon
      parameters:
      - name: lat
        in: path
        required: true
        description: Latitude of the center point.
        schema:
          type: number
          format: double
        x-position: 1
      - name: lon
        in: path
        required: true
        description: Longitude of the center point.
        schema:
          type: number
          format: double
        x-position: 2
      - name: dist
        in: path
        required: true
        description: Radius in nautical miles.
        schema:
          type: number
          format: double
        x-position: 3
      - name: alt
        in: path
        required: true
        description: Altitude in feet above sea level.
        schema:
          type: integer
          format: int32
        x-position: 4
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models within the given radius.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /airport/{airport}:
    get:
      tags:
      - Geospatial Filtering
      summary: Get aircraft near the airport
      description: 'This endpoint will return aircraft data within 5 nautical miles of the provided airport ICAO code.


        Get aircraft within 5 nautical miles of San Francisco airport:

        ```

        GET /api/aircraft/v2/airport/KSFO

        ```

        Use https://www.world-airport-codes.com/ to find ICAO codes for airports.'
      operationId: GetApiAircraftV2Airport
      parameters:
      - name: airport
        in: path
        required: true
        description: ICAO code of the airport.
        schema:
          type: string
        x-position: 1
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models within the given radius.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /airport:
    post:
      tags:
      - Geospatial Filtering
      summary: Get aircraft near airports
      description: 'This endpoint will return aircraft data within 5 nautical miles of the provided airport ICAO code(s).


        Get aircraft within 5 nautical miles of San Francisco and Calgary airports:

        ```

        POST /api/aircraft/v2/airport

        {

        "airports": ["KSFO", "CYYC"]

        }

        ```

        Use https://www.world-airport-codes.com/ to find ICAO codes for airports.'
      operationId: PostApiAircraftV2Airport
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: request
        description: JSON request model containing airport ICAO code.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirportRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Response containing a collection of aircraft models within the given radius.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /geospatial/boundary:
    post:
      tags:
      - Geospatial Filtering
      summary: Get aircraft within boundary
      description: 'Returns all aircraft within the given geospatial boundary(ies) described by GeoJSON Features.


        The boundary is defined as a GeoJSON "FeatureCollection" object that contains multiple "Feature" objects.

        Only "Polygon" and "MultiPolygon" feature types are supported.


        When feature object in the request contains "properties" dictionary,

        each aircraft matched by the boundaries of the geometry in the response will inherit those.

        This allows sending single request with multiple geometries. API supports having up to 5 properties per feature.

        **Important**: When overlapping geometries are provided, the aircraft will be returned only once.

        Aircraft will inherit all properties from all geometries it falls into.


        Typical use-cases include:

        * Monitoring boundaries of multiple locations (e.g. airports, cities, regions)

        * Monitoring approaching certain airspace boundaries (defining multiple overlapping geometries)


        The more geometries supplied in a single request, the slower the response becomes.

        We recommended making more requests with fewer geometries to ensure faster response times.


        Get aircraft in the San Francisco Bay Area:

        ```

        POST /api/aircraft/v2/geospatial/boundary

        {

        "type": "FeatureCollection",

        "features": [

        {

        "type": "Feature",

        "properties": {

        "id": "usa-san-francisco-bay-area",

        "name": "San Francisco Bay Area"

        },

        "geometry": {

        "coordinates": [

        [

        [

        -122.44631395117611,

        37.83516640724265

        ],

        [

        -122.5693889887842,

        37.75095177721121

        ],

        [

        -122.43882801189045,

        37.67277406071676

        ],

        [

        -122.29229571649552,

        37.749864464293466

        ],

        [

        -122.44631395117611,

        37.83516640724265

        ]

        ]

        ],

        "type": "Polygon"

        }

        }

        ]

        }

        ```


        The GeoJSON Specification can be found at https://geojson.org/.


        Using https://geojson.io/ simplifies creating GeoJSON boundaries.'
      operationId: PostApiAircraftV2GeospatialBoundary
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: FeatureCollectionRequest
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureCollectionRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Response containing a collection of aircraft models within the given boundaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '400':
          description: When the request is malformed or the GeoJSON is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
components:
  schemas:
    AircraftSingleResponse:
      type: object
      description: Full aircraft model with all available information.
      additionalProperties: false
      properties:
        hex:
          type: string
          description: The ICAO 24-bit address (hex) of the aircraft.
        type:
          type:
          - string
          - 'null'
          description: The type of message (e.g., adsb_icao, tisb_icao, etc.).
        flight:
          type:
          - string
          - 'null'
          description: The flight number or callsign.
        r:
          type:
          - string
          - 'null'
          description: Registration or tail number.
        t:
          type:
          - string
          - 'null'
          description: Aircraft type (e.g., B38M for Boeing 737 MAX 8).
        dbFlags:
          type:
          - integer
          - 'null'
          description: Bitfield for certain database flags, below and must be a bitwise and … check the documentation for your programming language
          example: "  military = dbFlags & 1;\n  interesting = dbFlags & 2;\n  PIA = dbFlags & 4;\n  LADD = dbFlags & 8;"
        alt_baro:
          description: Barometric altitude in feet.
        alt_geom:
          type:
          - number
          - 'null'
          description: Geometric altitude in feet.
          format: float
        gs:
          type:
          - number
          - 'null'
          description: Ground speed in knots.
          format: float
        ias:
          type:
          - number
          - 'null'
          description: Indicated airspeed in knots
          format: float
        tas:
          type:
          - number
          - 'null'
          description: True airspeed in knots.
          format: float
        mach:
          type:
          - number
          - 'null'
          description: Mach number (speed as a fraction of the speed of sound).
          format: float
        wd:
          type:
          - integer
          - 'null'
          description: Wind direction in degrees.
        ws:
          type:
          - integer
          - 'null'
          description: Wind speed in knots.
        oat:
          type:
          - integer
          - 'null'
          description: Outer/Static air temperature (OAT), typically somewhat inaccurate at lower altitudes.
        tat:
          type:
          - integer
          - 'null'
          description: Total air temperature (TAT), typically somewhat inaccurate at lower altitudes.
        track:
          type:
          - number
          - 'null'
          description: Aircraft track over the ground in degrees.
          format: float
        track_rate:
          type:
          - number
          - 'null'
          description: Rate of change of the track in degrees per second.
          format: float
        roll:
          type:
          - number
          - 'null'
          description: Aircraft roll angle in degrees.
          format: float
        mag_heading:
          type:
          - number
          - 'null'
          description: Magnetic heading in degrees.
          format: float
        true_heading:
          type:
          - number
          - 'null'
          description: True heading in degrees.
          format: float
        baro_rate:
          type:
          - integer
          - 'null'
          description: Barometric vertical rate (climb or descent) in feet per minute.
          format: int32
        geom_rate:
          type:
          - integer
          - 'null'
          description: Geometric vertical rate (climb or descent) in feet per minute.
          format: int32
        squawk:
          type:
          - string
          - 'null'
          description: Transponder squawk code.
        emergency:
          type:
          - string
          - 'null'
          description: Emergency code (if applicable).
        category:
          type:
          - string
          - 'null'
          description: Aircraft category based on size and weight.
        nav_qnh:
          type:
          - number
          - 'null'
          description: QNH setting (altimeter pressure setting) in hPa.
          format: float
        nav_altitude_mcp:
          type:
          - integer
          - 'null'
          description: MCP (Mode Control Panel) altitude setting in feet.
        nav_altitude_fms:
          type:
          - integer
          - 'null'
          description: Selected altitude from the Flight Management System (FMS) in feet.
        nav_heading:
          type:
          - number
          - 'null'
          description: MCP heading setting in degrees.
          format: float
        nav_modes:
          type:
          - array
          - 'null'
          description: 'Navigation modes: autopilot, vnav, althold, approach, lnav, tcas'
          items:
            type: string
        rr_lat:
          type:
          - number
          - 'null'
          description: Rough estimated latitude based on receiver's position.
          format: float
        rr_lon:
          type:
          - number
          - 'null'
          description: Rough estimated longitude based on receiver's position.
          format: float
        lastPosition:
          description: Last known position if lat/lon are older than 60 seconds.
          oneOf:
          - $ref: '#/components/schemas/LastPositionDataResponse'
        gpsOkBefore:
          type:
          - number
          - 'null'
          description: Indicator of whether GPS was working well before degradation.
          format: double
        gpsOkLat:
          type:
          - number
          - 'null'
          description: Indicator of whether GPS was working well before degradation - latitude.
          format: double
        gpsOkLon:
          type:
          - number
          - 'null'
          description: Indicator of whether GPS was working well before degradation - longitude.
          format: double
        lat:
          type:
          - number
          - 'null'
          description: Latitude of the aircraft.
          format: float
        lon:
          type:
          - number
          - 'null'
          description: Longitude of the aircraft.
          format: float
        nic:
          type:
          - integer
          - 'null'
          description: Navigation Integrity Category.
          format: int32
        rc:
          type:
          - integer
          - 'null'
          description: Containment Radius of Accuracy in meters.
        seen_pos:
          type:
          - number
          - 'null'
          description: Time since the last positional update in seconds.
          format: float
        version:
          type:
          - integer
          - 'null'
          description: ADS-B version.
          format: int32
        nic_baro:
          type:
          - integer
          - 'null'
          description: Barometric NIC (Navigation Integrity Category).
        nac_p:
          type:
          - integer
          - 'null'
          description: Navigation Accuracy Category for Position.
        nac_v:
          type:
          - integer
          - 'null'
          description: Navigation Accuracy Category for Velocity.
        sil:
          type:
          - integer
          - 'null'
          description: Source Integrity Level.
        sil_type:
          type:
          - string
          - 'null'
          description: Source Integrity Level type (e.g., per hour or per sample).
        gva:
          type:
          - integer
          - 'null'
          description: Geometric Vertical Accuracy.
        sda:
          type:
          - integer
          - 'null'
          description: System Design Assurance.
        alert:
          type:
          - integer
          - 'null'
          description: Alert status (whether the transponder is indicating an alert).
        spi:
          type:
          - integer
          - 'null'
          description: Special Position Identification (SPI) status.
        mlat:
          type:
          - array
          - 'null'
          description: List of fields derived from MLAT data (e.g., "lat", "lon", "nic", "rc").
          items:
            type: string
        tisb:
          type:
          - array
          - 'null'
          description: List of fields derived from TIS-B data (e.g., "gs", "lat", "lon", "nic", "rc", "nac_p", "sil", "sil_type").
          items:
            type: string
        messages:
          type:
          - integer
          - 'null'
          description: The number of messages received from the aircraft.
          format: int64
        seen:
          type:
          - number
          - 'null'
          description: Time since the last message was received, in seconds.
          format: float
        rssi:
          type:
          - number
          - 'null'
          description: Signal strength in dBFS.
          format: float
        acas_ra:
          description: ACAS Resolution Advisory data (experimental, subject to change).
          oneOf:
          - $ref: '#/components/schemas/AcasResolutionAdvisoryResponse'
        now:
          type:
          - integer
          - 'null'
          description: Unix milliseconds timestamp of the time the data was put into the cache.
          format: int64
        geometries:
          type:
          - array
          - 'null'
          description: 'Contains caller-supplied collection of properties (up to 5) per matched geometry.

            Properties are propagated from each geometry object in the filter request.'
          items:
            type: object
            additionalProperties:
              type: string
    ProximityPointFilter:
      type: object
      description: Describes a point in proximity to which aircraft should be queried
      additionalProperties: false
      properties:
        latitude:
          type: number
          description: Latitude of the coordinate
          format: double
        longitude:
          type: number
          description: Longitude of the coordinate
          format: double
        radius:
          type: number
          description: Radius in Nautical Miles from the coordinate specified via Latitude and Longitude
          format: double
        altitude_min:
          type:
          - integer
          - 'null'
          description: Altitude in feet to filter aircraft by (lower boundary)
          format: int32
        altitude_max:
          type:
          - integer
          - 'null'
          description: Altitude in feet to filter aircraft by (upper boundary)
          format: int32
    LastPositionDataResponse:
      type: object
      description: 'When the regular lat and lon are older than 60 seconds

        they are no longer considered valid, this will provide

        the last position and show the age for the last position.

        Aircraft will only be in the aircraft json if a position

        has been received in the last 60 seconds or if any message

        has been received in the last 30 seconds.'
      additionalProperties: false
      properties:
        lat:
          type:
          - number
          - 'null'
          format: float
        lon:
          type:
          - number
          - 'null'
          format: float
        nic:
          type:
          - integer
          - 'null'
          description: Navigation Integrity Category (2.2.3.2.7.2.6)
          format: int32
        rc:
          type:
          - integer
          - 'null'
          description: 'Radius of Containment, meters; a measure of position integrity

            derived from NIC and supplementary bits. (2.2.3.2.7.2.6, Table 2-69)'
          format: int32
        seen_pos:
          type:
          - number
          - 'null'
          description: How long ago (in seconds before “now”) the position was last updated
          format: double
    AircraftCollectionMinimalResponse:
      type: object
      description: Response envelope for the multiple aircraft endpoint.
      additionalProperties: false
      properties:
        ac:
          type: array
          description: List of aircraft with all available information.
          items:
            $ref: '#/components/schemas/AircraftSingleMinimalResponse'
        msg:
          type: string
          description: Message indicating the status of the request overall.
        now:
          type: integer
          description: Unix timestamp of the current UTC time on the server (ms).
          format: int64
        total:
          type: integer
          description: The number of aircraft in the response.
          format: int32
        ctime:
          type: integer
          description: Unix timestamp (ms) of when the underlying data was last updated.
          format: int64
        ptime:
          type: integer
          description: Time taken on server to process the request (ms).
          format: int64
    ApiUnauthorizedResponse:
      type: object
      additionalProperties: false
      properties:
        msg:
          type: string
        reason:
          type:
          - string
          - 'null'
    BadRequest:
      type: object
      additionalProperties: false
      properties:
        statusCode:
          type: integer
          format: int32
    ProximityRequest:
      type: object
      description: Model for querying api for multiple aircraft by proximity
      additionalProperties: false
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/ProximityPointFilter'
    FeatureCollectionRequest:
      type: object
      description: Mimics the request model for the feature collection endpoint (GeoJSON)
      additionalProperties: false
      properties:
        type:
          type: string
          description: Type of the GeoJSON object. Should be "FeatureCollection"
        features:
          type: array
          description: Collection of features describing the geometries
          items:
            $ref: '#/components/schemas/FeatureRequest'
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    AircraftSingleMinimalResponse:
      type: object
      description: Contains the minimal information about an aircraft.
      additionalProperties: false
      properties:
        hex:
          type: string
          description: The ICAO 24-bit address (hex) of the aircraft.
        type:
          type:
          - string
          - 'null'
          description: The type of message (e.g., adsb_icao, tisb_icao, etc.).
        flight:
          type:
          - string
          - 'null'
          description: The flight number or callsign.
        r:
          type:
          - string
          - 'null'
          description: Registration or tail number.
        t:
          type:
          - string
          - 'null'
          description: Aircraft type (e.g., B38M for Boeing 737 MAX 8).
        alt_baro:
          description: Barometric altitude in feet.
        alt_geom:
          type:
          - number
          - 'null'
          description: Geometric altitude in feet.
          format: float
        gs:
          type:
          - number
          - 'null'
          description: Ground speed in knots.
          format: float
        ias:
          type:
          - number
          - 'null'
          description: Indicated airspeed in knots
          format: float
        tas:
          type:
          - number
          - 'null'
          description: True airspeed in knots.
          format: float
        mach:
          type:
          - number
          - 'null'
          description: Mach number (speed as a fraction of the speed of sound).
          format: float
        wd:
          type:
          - integer
          - 'null'
          description: Wind direction in degrees.
        ws:
          type:
          - integer
          - 'null'
          description: Wind speed in knots.
        oat:
          type:
          - integer
          - 'null'
          description: Outer/Static air temperature (OAT), typically somewhat inaccurate at lower altitudes.
        tat:
          type:
          - integer
          - 'null'
          description: Total air temperature (TAT), typically somewhat inaccurate at lower altitudes.
        track:
          type:
          - number
          - 'null'
          description: Aircraft track over the ground in degrees.
          format: float
        track_rate:
          type:
          - number
          - 'null'
          description: Rate of change of the track in degrees per second.
          format: float
        roll:
          type:
          - number
          - 'null'
          description: Aircraft roll angle in degrees.
          format: float
        mag_heading:
          type:
          - number
          - 'null'
          description: Magnetic heading in degrees.
          format: float
        true_heading:
          type:
          - number
          - 'null'
          description: True heading in degrees.
          format: float
        baro_rate:
          type:
          - integer
          - 'null'
          description: Barometric vertical rate (climb or descent) in feet per minute.
          format: int32
        geom_rate:
          type:
          - integer
          - 'null'
          description: Geometric vertical rate (climb or descent) in feet per minute.
          format: int32
        squawk:
          type:
          - string
          - 'null'
          description: Transponder squawk code.
        category:
          type:
          - string
          - 'null'
          description: Aircraft category based on size and weight.
        nav_qnh:
          type:
          - number
          - 'null'
          description: QNH setting (altimeter pressure setting) in hPa.
          format: float
        nav_altitude_mcp:
          type:
          - integer
          - 'null'
          description: MCP (Mode Control Panel) altitude setting in feet.
        nav_altitude_fms:
          type:
          - integer
          - 'null'
          description: Selected altitude from the Flight Management System (FMS) in feet.
        nav_heading:
          type:
          - number
          - 'null'
          description: MCP heading setting in degrees.
          format: float
        nav_modes:
          type:
          - array
          - 'null'
          description: 'Navigation modes: autopilot, vnav, althold, approach, lnav, tcas'
          items:
            type: string
        lat:
          type:
          - number
          - 'null'
          description: Latitude of the aircraft.
          format: float
        lon:
          type:
          - number
          - 'null'
          description: Longitude of the aircraft.
          format: float
        seen_pos:
          type:
          - number
          - 'null'
          description: Time since the last positional update in seconds.
          format: float
        seen:
          type:
          - number
          - 'null'
          description: Time since the last message was received, in seconds.
          format: float
    AirportRequest:
      type: object
      description: Model representing a request for obtaining aircraft in proximity to an airport(s)
      additionalProperties: false
      properties:
        airports:
          type: array
          items:
            type: string
    ApiForbiddenResponse:
      type: object
      additionalProperties: false
      properties:
        msg:
          type: string
        reason:
          type:
          - string
          - 'null'
    FeatureRequest:
      type: object
      description: Describes single feature in the GeoJSON feature collection
      additionalProperties: false
      properties:
        type:
          type: string
          description: Type of the GeoJSON object. Should be "Feature"
        properties:
          type: object
          description: 'Collection of properties associated with the geometry.

            Properties with will propagated to each aircraft object in "properties" field.


            **IMPORTANT**: Only 5 properties supported. Each key and value must not exceed 128 characters.'
          additionalProperties:
            type: string
        geometry:
          description: Geometry of the feature. Must be a Polygon or MultiPolygon.
          oneOf:
          - $ref: '#/components/schemas/FeatureGeometryRequest'
    AircraftCollectionResponse:
      type: object
      description: Response envelope for the multiple aircraft endpoint.
      additionalProperties: false
      properties:
        ac:
          type: array
          description: List of aircraft with all available information.
          items:
            $ref: '#/components/schemas/AircraftSingleResponse'
        msg:
          type: string
          description: Message indicating the status of the request overall.
        now:
          type: integer
          description: Unix timestamp of the current UTC time on the server (ms).
          format: int64
        total:
          type: integer
          description: The number of aircraft in the response.
          format: int32
        ctime:
          type: integer
          description: Unix timestamp (ms) of when the underlying data was last updated.
          format: int64
        ptime:
          type: integer
          description: Time taken on server to process the request (ms).
          format: int64
    ApiTooManyRequestsResponse:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
    AcasResolutionAdvisoryResponse:
      type: object
      description: ACAS Resolution Advisory Class
      additionalProperties: false
      properties:
        utc:
          type:
          - string
          - 'null'
          description: UTC timestamp of the advisory.
        unix_timestamp:
          type:
          - number
          - 'null'
          description: Unix timestamp.
          format: double
        bytes:
          type:
          - string
          - 'null'
          description: Advisory bytes as a string.
        ARA:
          type:
          - string
          - 'null'
          description: Advisory ARA field.
        RAT:
          type:
          - string
          - 'null'
          description: Advisory RAT field.
        MTE:
          type:
          - string
          - 'null'
          description: Advisory MTE field.
        RAC:
          type:
          - string
          - 'null'
          description: Advisory RAC field.
        advisory_complement:
          type:
          - string
          - 'null'
          description: Advisory complement description.
        advisory:
          type:
          - string
          - 'null'
          description: Advisory description.
        TTI:
          type:
          - string
          - 'null'
          description: TTI field.
        threat_id_hex:
          type:
          - string
          - 'null'
          description: Threat ID in hexadecimal.
    FeatureGeometryRequest:
      type: object
      description: Describes the geometry of the feature in the GeoJSON feature collection
      additionalProperties: false
      properties:
        type:
          type: string
          description: Type of the GeoJSON object. Should be "Polygon" or "MultiPolygon"
        coordinates:
          type: array
          description: Coordinates of the polygon or multipolygon geometry in GeoJSON format.
          items:
            type: array
            items:
              type: array
              items:
                type: number
                format: double
  securitySchemes:
    X-Api-Key:
      type: apiKey
      description: Provide your API key via x-api-key header to access the API.
      name: x-api-key
      in: header
x-generator: NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))
