openapi: 3.2.0
info:
  title: ADSB Exchange Operations API
  description: 'The ADSB Exchange API provides real-time access to live global flight data,

    enabling retrieval of detailed information on aircraft positions, flight events, historical trace files,

    and many more aviation metrics.'
  termsOfService: https://www.adsbexchange.com/terms-of-use/
  contact:
    name: Contact ADSB Exchange
    url: https://www.adsbexchange.com/products/enterprise-api/
  version: v2
  x-logo:
    url: https://adsbexchange.com/wp-content/uploads/ax_logo_background_api-scaled.avif
    href: '#'
servers:
- url: https://gateway.adsbexchange.com/api/aircraft/v2
tags:
- name: Operations
  description: Endpoints provide access to Takeoffs/Landings operational events.
paths:
  /operations/icaos:
    post:
      tags:
      - Operations
      summary: Get operations by multiple aircraft ICAO codes
      description: 'Returns operations (Takeoffs and Landings) for the given ICAO codes. Response is paginated and sorted by time (descending). Returns 1000 items per page.

        Max number of ICAOs per request is 500 (enforced by model validation), further constrained by FleetLimit entitlement.'
      operationId: PostApiAircraftV2OperationsIcaos
      parameters:
      - name: page
        x-originalName: pageNumber
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 2
      - name: time_from
        x-originalName: unixTimestampFrom
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 3
      - name: time_to
        x-originalName: unixTimestampTo
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 4
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationsIcaosRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /operations/icao/{icao}:
    get:
      tags:
      - Operations
      summary: Get operations by aircraft
      description: 'Returns operations (Takeoffs and Landings) for the given ICAO code (hex code) of the aircraft.

        Response is paginated and sorted by time (descending). Returns 20 items per page.


        ```

        GET /api/aircraft/v2/operations/icao/A1B2C3

        ```'
      operationId: GetApiAircraftV2OperationsIcao
      parameters:
      - name: icao
        in: path
        required: true
        description: ICAO code of the aircraft.
        schema:
          type: string
        x-position: 1
      - name: page
        x-originalName: pageNumber
        in: query
        description: Page number to return. When not specified, defaults to 1.
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 2
      - name: time_from
        x-originalName: unixTimestampFrom
        in: query
        description: Unix timestamp from which to start the search. When not specified, defaults to 24 hours ago. Value in seconds.
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 3
      - name: time_to
        x-originalName: unixTimestampTo
        in: query
        description: Unix timestamp to which to end the search. When not specified, defaults to current time. Value in seconds.
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 4
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: 'Response containing a collection of operational events: takeoffs and landings.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /operations/airports:
    post:
      tags:
      - Operations
      summary: Get operations by multiple airports
      description: 'Returns operations (Takeoffs and Landings) for the given ICAO codes of the airports. Response is paginated and sorted by time (descending). Returns 1000 items per page.

        Max number of airports per request is 500 (hard limit), further constrained by AirportLimit entitlement.


        **Example**: get operations for three main California airports (Los Angeles, San Francisco, San Diego):

        ```

        POST /api/aircraft/v2/operations/airports


        {

        "airports": ["KLAX", "KSFO", "KSAN"]

        }

        ```'
      operationId: PostApiAircraftV2OperationsAirports
      parameters:
      - name: page
        x-originalName: pageNumber
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 2
      - name: time_from
        x-originalName: unixTimestampFrom
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 3
      - name: time_to
        x-originalName: unixTimestampTo
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 4
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationsAirportRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '402':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /operations/airport/{airport}:
    get:
      tags:
      - Operations
      summary: Get operations by airport
      description: 'Returns operations (Takeoffs and Landings) for the given ICAO code of the airport. Response is paginated and sorted by time (descending). Returns 20 items per page.


        Get operations for San Francisco airport for the last 24 hours:

        ```

        GET /api/aircraft/v2/operations/airport/KSFO

        ```

        Use https://www.world-airport-codes.com/ to find ICAO codes for airports.'
      operationId: GetApiAircraftV2OperationsAirport
      parameters:
      - name: airport
        in: path
        required: true
        description: ICAO code of the airport.
        schema:
          type: string
        x-position: 1
      - name: page
        x-originalName: pageNumber
        in: query
        description: Page number to return. When not specified, defaults to 1.
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 2
      - name: time_from
        x-originalName: unixTimestampFrom
        in: query
        description: Unix timestamp from which to start the search. When not specified, defaults to 24 hours ago. Value in seconds.
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 3
      - name: time_to
        x-originalName: unixTimestampTo
        in: query
        description: Unix timestamp to which to end the search. When not specified, defaults to current time. Value in seconds.
        schema:
          type:
          - integer
          - 'null'
          format: int64
        x-position: 4
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: 'Response containing a collection of operational events: takeoffs and landings.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationsResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
components:
  schemas:
    OperationsAirportRequest:
      type: object
      description: Model representing a request for obtaining operations (takeoffs/landings) for one or more airports.
      additionalProperties: false
      properties:
        airports:
          type: array
          maxItems: 500
          minItems: 1
          items:
            type: string
    OperationsResponseItem:
      type: object
      additionalProperties: false
      properties:
        icao:
          type: string
        registration:
          type:
          - string
          - 'null'
        flight:
          type:
          - string
          - 'null'
        ac_type:
          type:
          - string
          - 'null'
        time:
          type:
          - string
          - 'null'
        time_epoch:
          type: integer
          format: int64
        airport:
          type:
          - string
          - 'null'
        runway:
          type:
          - string
          - 'null'
        operation:
          type:
          - string
          - 'null'
        flight_link:
          type:
          - string
          - 'null'
        gs:
          type:
          - string
          - 'null'
        squawk:
          type:
          - string
          - 'null'
        signal_type:
          type:
          - string
          - 'null'
        alt_baro:
          type:
          - integer
          - 'null'
          format: int32
        track:
          type:
          - string
          - 'null'
        lat:
          type:
          - number
          - 'null'
          format: float
        lon:
          type:
          - number
          - 'null'
          format: float
        alt_geom:
          type:
          - integer
          - 'null'
          format: int32
        rate:
          type:
          - integer
          - 'null'
          format: int32
        category:
          type:
          - string
          - 'null'
        reg:
          type:
          - string
          - 'null'
        icaotype:
          type:
          - string
          - 'null'
        year:
          type:
          - string
          - 'null'
        manufacturer:
          type:
          - string
          - 'null'
        model:
          type:
          - string
          - 'null'
        ownop:
          type:
          - string
          - 'null'
        faa_pia:
          type:
          - boolean
          - 'null'
        faa_ladd:
          type:
          - boolean
          - 'null'
        short_type:
          type:
          - string
          - 'null'
        mil:
          type:
          - boolean
          - 'null'
        apt_type:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        continent:
          type:
          - string
          - 'null'
        iso_country:
          type:
          - string
          - 'null'
        iso_region:
          type:
          - string
          - 'null'
        municipality:
          type:
          - string
          - 'null'
        scheduled_service:
          type:
          - string
          - 'null'
        iata_code:
          type:
          - string
          - 'null'
        wgs84_elev:
          type:
          - integer
          - 'null'
          format: int32
    ApiUnauthorizedResponse:
      type: object
      additionalProperties: false
      properties:
        msg:
          type: string
        reason:
          type:
          - string
          - 'null'
    BadRequest:
      type: object
      additionalProperties: false
      properties:
        statusCode:
          type: integer
          format: int32
    OperationsIcaosRequest:
      type: object
      description: Model representing a request for obtaining operations (takeoffs/landings) for one or more aircraft ICAO codes.
      additionalProperties: false
      properties:
        icaos:
          type: array
          maxItems: 500
          minItems: 1
          items:
            type: string
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    ApiForbiddenResponse:
      type: object
      additionalProperties: false
      properties:
        msg:
          type: string
        reason:
          type:
          - string
          - 'null'
    OperationsResponse:
      type: object
      description: Response envelope for the response containing multiple operations objects.
      additionalProperties: false
      properties:
        items:
          type: array
          description: List of operations objects
          items:
            $ref: '#/components/schemas/OperationsResponseItem'
        msg:
          type: string
          description: Message indicating the status of the request overall.
        totalItems:
          type: integer
          description: The total number of operations in the database for the given query.
          format: int32
        totalPages:
          type: integer
          description: Total number of pages that client can iterate through.
          format: int32
        pageNumber:
          type: integer
          description: Current page number.
          format: int32
        ctime:
          type: integer
          description: Unix timestamp of when the underlying data was last updated.
          format: int64
        now:
          type: integer
          description: Unix timestamp of the current UTC time on the server.
          format: int64
        ptime:
          type: integer
          description: Time taken on API server to process the request, in milliseconds.
          format: int64
    ApiTooManyRequestsResponse:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
  securitySchemes:
    X-Api-Key:
      type: apiKey
      description: Provide your API key via x-api-key header to access the API.
      name: x-api-key
      in: header
x-generator: NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))
