openapi: 3.2.0
info:
  title: ADSB Exchange Live Positional Data API
  description: 'The ADSB Exchange API provides real-time access to live global flight data,

    enabling retrieval of detailed information on aircraft positions, flight events, historical trace files,

    and many more aviation metrics.'
  termsOfService: https://www.adsbexchange.com/terms-of-use/
  contact:
    name: Contact ADSB Exchange
    url: https://www.adsbexchange.com/products/enterprise-api/
  version: v2
  x-logo:
    url: https://adsbexchange.com/wp-content/uploads/ax_logo_background_api-scaled.avif
    href: '#'
servers:
- url: https://gateway.adsbexchange.com/api/aircraft/v2
tags:
- name: Live Positional Data
  description: Endpoints provide access to airborne or recently landed aircraft, as well as last known positions.
paths:
  /all:
    get:
      tags:
      - Live Positional Data
      summary: Get all aircraft
      description: 'Returns all aircraft currently being tracked.


        Note: This endpoint can be slow or unresponsive in Swagger UI due to the large volume of data returned. For best results, use an external tool (like Postman or curl).'
      operationId: GetApiAircraftV2All
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Returns a collection of aircraft.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /total-aircraft:
    get:
      tags:
      - Live Positional Data
      summary: Get total aircraft
      description: Returns only count of aircraft currently being tracked.
      operationId: GetApiAircraftV2TotalAircraft
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Returns a collection of aircraft with only total aircraft number set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /filter:
    post:
      tags:
      - Live Positional Data
      summary: Filter aircraft by criteria
      description: Filters and returns only aircraft that match the provided criteria.
      operationId: PostApiAircraftV2Filter
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: request
        description: JSON request model containing definition of filter criteria.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Response containing a collection of aircraft models that match filter criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '422':
          description: Request can not be processed due to error in filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /hex/{hex}:
    get:
      tags:
      - Live Positional Data
      summary: Get last known position
      description: 'This endpoint will return a last known position for the aircraft.


        Each aircraft model will contain the "now" property (unix timestamp, milliseconds) denoting the time when the aircraft was last observed.


        **Important:** Right now for backwards compatibility purposes, when requesting single aircraft by ICAO code,

        instead of returning a collection of aircraft with a single aircraft, the method will return a single aircraft model. We understand

        this is an unconventional behavior, which will be addressed in the future version of the API. To force a collection response, append a trailing comma

        to the ICAO code provided in the URL. This will still return a single aircraft model, but it will be wrapped in a collection as per API spec.


        Example:

        ```

        GET /api/aircraft/v2/hex/A1B2C3,

        ```

        will force a collection response.'
      operationId: GetApiAircraftV2Hex
      parameters:
      - name: hex
        in: path
        required: true
        description: ICAO code of the aircraft, or coma-separated list of aircraft ICAO codes.
        schema:
          type: string
        x-position: 1
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: When single aircraft requested, returns a single aircraft model response, otherwise will return a collection of aircraft models. See the description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '414':
          description: Requested URL is too long
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestedUrlTooLongResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /hex:
    post:
      tags:
      - Live Positional Data
      summary: Get last known position
      description: 'This endpoint will return a last known position for the aircraft. Because GET request has a limit on the number of characters in the URL,

        it is recommended to use POST request when querying multiple aircraft (more than 10).


        Each aircraft model will contain the "now" property (unix timestamp, milliseconds) denoting the time when the aircraft was last observed.


        **Important:** Right now for backwards compatibility purposes, when requesting single aircraft by ICAO code,

        instead of returning a collection of aircraft with a single aircraft, the method will return a single aircraft model. We understand

        this is an unconventional behavior, which will be addressed in the future version of the API. To force a collection response, append an empty string to

        "hex_list" property in the JSON request model. This will still return a single aircraft model, but it will be wrapped in a collection as per API spec.


        Example:

        ```

        POST /api/aircraft/v2/hex


        {

        "hex_list": ["A1B2C3", ""]

        }

        ```

        will force a collection response.'
      operationId: PostApiAircraftV2Hex
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: request
        description: JSON request model containing a list of ICAO codes to retrieve aircraft last known data for.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AircraftRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: When single aircraft requested, returns a single aircraft model response, otherwise will return a collection of aircraft models. See the description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /icao/{icao}:
    get:
      tags:
      - Live Positional Data
      summary: Get aircraft by ICAO
      description: This endpoint will return aircraft data for the provided ICAO code(s). This will not return a match if aircraft has not been seen by ADSB Exchange in the last 15 minutes.
      operationId: GetApiAircraftV2Icao
      parameters:
      - name: icao
        in: path
        required: true
        description: ICAO code of the aircraft, or coma-separated list of aircraft ICAO codes.
        schema:
          type: string
        x-position: 1
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '414':
          description: Requested URL is too long
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestedUrlTooLongResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /icao:
    post:
      tags:
      - Live Positional Data
      summary: Get aircraft by ICAO
      description: 'This endpoint will return aircraft data for the provided ICAO code(s).

        This will not return a match if aircraft has not been seen by ADSB Exchange in the last 15 minutes.


        Because GET request has a limit on the number of characters in the URL,

        it is recommended to use POST request when querying multiple aircraft (more than 10).'
      operationId: PostApiAircraftV2Icao
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: request
        description: JSON request model containing a list of ICAO codes to retrieve aircraft data for.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AircraftRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Response containing a collection of aircraft models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /mil:
    get:
      tags:
      - Live Positional Data
      summary: Get military aircraft
      description: This endpoint will return only military aircraft.
      operationId: GetApiAircraftV2Mil
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /callsign/{callsign}:
    get:
      tags:
      - Live Positional Data
      summary: Get aircraft by callsign
      description: This endpoint will return aircraft data for the provided callsign(s).
      operationId: GetApiAircraftV2Callsign
      parameters:
      - name: callsign
        in: path
        required: true
        description: Callsign of the aircraft, or coma-separated list of callsigns.
        schema:
          type: string
        x-position: 1
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /registration/{registration}:
    get:
      tags:
      - Live Positional Data
      summary: Get aircraft by registration
      description: This endpoint will return aircraft data for the provided registration number(s).
      operationId: GetApiAircraftV2Registration
      parameters:
      - name: registration
        in: path
        required: true
        description: Registration number of the aircraft, or comma-separated list of registrations.
        schema:
          type: string
        x-position: 1
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /registration:
    post:
      tags:
      - Live Positional Data
      summary: Get aircraft by registrations
      description: 'This endpoint will return aircraft data for the provided registration number(s).


        Because GET request has a limit on the number of characters in the URL,

        it is recommended to use POST request when querying multiple aircraft (more than 10).'
      operationId: PostApiAircraftV2Registration
      parameters:
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      requestBody:
        x-name: request
        description: JSON request model containing a list of registration numbers to retrieve aircraft data for.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Response containing a collection of aircraft models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
  /sqk/{squawk}:
    get:
      tags:
      - Live Positional Data
      summary: Get aircraft by squawk
      description: This endpoint will return aircraft data for the provided squawk code(s).
      operationId: GetApiAircraftV2Sqk
      parameters:
      - name: squawk
        in: path
        required: true
        description: Squawk of the aircraft, or coma-separated list of squawk codes.
        schema:
          type: string
        x-position: 1
      - type: string
        name: Accept-Encoding
        in: header
        required: true
        description: The encoding type the client will accept in the response. API call must use compression.
        default: gzip
        example: gzip
      responses:
        '200':
          description: Response containing a collection of aircraft models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AircraftCollectionResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTooManyRequestsResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      security:
      - X-Api-Key: []
components:
  schemas:
    AircraftSingleResponse:
      type: object
      description: Full aircraft model with all available information.
      additionalProperties: false
      properties:
        hex:
          type: string
          description: The ICAO 24-bit address (hex) of the aircraft.
        type:
          type:
          - string
          - 'null'
          description: The type of message (e.g., adsb_icao, tisb_icao, etc.).
        flight:
          type:
          - string
          - 'null'
          description: The flight number or callsign.
        r:
          type:
          - string
          - 'null'
          description: Registration or tail number.
        t:
          type:
          - string
          - 'null'
          description: Aircraft type (e.g., B38M for Boeing 737 MAX 8).
        dbFlags:
          type:
          - integer
          - 'null'
          description: Bitfield for certain database flags, below and must be a bitwise and … check the documentation for your programming language
          example: "  military = dbFlags & 1;\n  interesting = dbFlags & 2;\n  PIA = dbFlags & 4;\n  LADD = dbFlags & 8;"
        alt_baro:
          description: Barometric altitude in feet.
        alt_geom:
          type:
          - number
          - 'null'
          description: Geometric altitude in feet.
          format: float
        gs:
          type:
          - number
          - 'null'
          description: Ground speed in knots.
          format: float
        ias:
          type:
          - number
          - 'null'
          description: Indicated airspeed in knots
          format: float
        tas:
          type:
          - number
          - 'null'
          description: True airspeed in knots.
          format: float
        mach:
          type:
          - number
          - 'null'
          description: Mach number (speed as a fraction of the speed of sound).
          format: float
        wd:
          type:
          - integer
          - 'null'
          description: Wind direction in degrees.
        ws:
          type:
          - integer
          - 'null'
          description: Wind speed in knots.
        oat:
          type:
          - integer
          - 'null'
          description: Outer/Static air temperature (OAT), typically somewhat inaccurate at lower altitudes.
        tat:
          type:
          - integer
          - 'null'
          description: Total air temperature (TAT), typically somewhat inaccurate at lower altitudes.
        track:
          type:
          - number
          - 'null'
          description: Aircraft track over the ground in degrees.
          format: float
        track_rate:
          type:
          - number
          - 'null'
          description: Rate of change of the track in degrees per second.
          format: float
        roll:
          type:
          - number
          - 'null'
          description: Aircraft roll angle in degrees.
          format: float
        mag_heading:
          type:
          - number
          - 'null'
          description: Magnetic heading in degrees.
          format: float
        true_heading:
          type:
          - number
          - 'null'
          description: True heading in degrees.
          format: float
        baro_rate:
          type:
          - integer
          - 'null'
          description: Barometric vertical rate (climb or descent) in feet per minute.
          format: int32
        geom_rate:
          type:
          - integer
          - 'null'
          description: Geometric vertical rate (climb or descent) in feet per minute.
          format: int32
        squawk:
          type:
          - string
          - 'null'
          description: Transponder squawk code.
        emergency:
          type:
          - string
          - 'null'
          description: Emergency code (if applicable).
        category:
          type:
          - string
          - 'null'
          description: Aircraft category based on size and weight.
        nav_qnh:
          type:
          - number
          - 'null'
          description: QNH setting (altimeter pressure setting) in hPa.
          format: float
        nav_altitude_mcp:
          type:
          - integer
          - 'null'
          description: MCP (Mode Control Panel) altitude setting in feet.
        nav_altitude_fms:
          type:
          - integer
          - 'null'
          description: Selected altitude from the Flight Management System (FMS) in feet.
        nav_heading:
          type:
          - number
          - 'null'
          description: MCP heading setting in degrees.
          format: float
        nav_modes:
          type:
          - array
          - 'null'
          description: 'Navigation modes: autopilot, vnav, althold, approach, lnav, tcas'
          items:
            type: string
        rr_lat:
          type:
          - number
          - 'null'
          description: Rough estimated latitude based on receiver's position.
          format: float
        rr_lon:
          type:
          - number
          - 'null'
          description: Rough estimated longitude based on receiver's position.
          format: float
        lastPosition:
          description: Last known position if lat/lon are older than 60 seconds.
          oneOf:
          - $ref: '#/components/schemas/LastPositionDataResponse'
        gpsOkBefore:
          type:
          - number
          - 'null'
          description: Indicator of whether GPS was working well before degradation.
          format: double
        gpsOkLat:
          type:
          - number
          - 'null'
          description: Indicator of whether GPS was working well before degradation - latitude.
          format: double
        gpsOkLon:
          type:
          - number
          - 'null'
          description: Indicator of whether GPS was working well before degradation - longitude.
          format: double
        lat:
          type:
          - number
          - 'null'
          description: Latitude of the aircraft.
          format: float
        lon:
          type:
          - number
          - 'null'
          description: Longitude of the aircraft.
          format: float
        nic:
          type:
          - integer
          - 'null'
          description: Navigation Integrity Category.
          format: int32
        rc:
          type:
          - integer
          - 'null'
          description: Containment Radius of Accuracy in meters.
        seen_pos:
          type:
          - number
          - 'null'
          description: Time since the last positional update in seconds.
          format: float
        version:
          type:
          - integer
          - 'null'
          description: ADS-B version.
          format: int32
        nic_baro:
          type:
          - integer
          - 'null'
          description: Barometric NIC (Navigation Integrity Category).
        nac_p:
          type:
          - integer
          - 'null'
          description: Navigation Accuracy Category for Position.
        nac_v:
          type:
          - integer
          - 'null'
          description: Navigation Accuracy Category for Velocity.
        sil:
          type:
          - integer
          - 'null'
          description: Source Integrity Level.
        sil_type:
          type:
          - string
          - 'null'
          description: Source Integrity Level type (e.g., per hour or per sample).
        gva:
          type:
          - integer
          - 'null'
          description: Geometric Vertical Accuracy.
        sda:
          type:
          - integer
          - 'null'
          description: System Design Assurance.
        alert:
          type:
          - integer
          - 'null'
          description: Alert status (whether the transponder is indicating an alert).
        spi:
          type:
          - integer
          - 'null'
          description: Special Position Identification (SPI) status.
        mlat:
          type:
          - array
          - 'null'
          description: List of fields derived from MLAT data (e.g., "lat", "lon", "nic", "rc").
          items:
            type: string
        tisb:
          type:
          - array
          - 'null'
          description: List of fields derived from TIS-B data (e.g., "gs", "lat", "lon", "nic", "rc", "nac_p", "sil", "sil_type").
          items:
            type: string
        messages:
          type:
          - integer
          - 'null'
          description: The number of messages received from the aircraft.
          format: int64
        seen:
          type:
          - number
          - 'null'
          description: Time since the last message was received, in seconds.
          format: float
        rssi:
          type:
          - number
          - 'null'
          description: Signal strength in dBFS.
          format: float
        acas_ra:
          description: ACAS Resolution Advisory data (experimental, subject to change).
          oneOf:
          - $ref: '#/components/schemas/AcasResolutionAdvisoryResponse'
        now:
          type:
          - integer
          - 'null'
          description: Unix milliseconds timestamp of the time the data was put into the cache.
          format: int64
        geometries:
          type:
          - array
          - 'null'
          description: 'Contains caller-supplied collection of properties (up to 5) per matched geometry.

            Properties are propagated from each geometry object in the filter request.'
          items:
            type: object
            additionalProperties:
              type: string
    AircraftRequest:
      type: object
      description: Model for querying api for multiple aircraft hexes
      additionalProperties: false
      properties:
        hex_list:
          type: array
          items:
            type: string
    LastPositionDataResponse:
      type: object
      description: 'When the regular lat and lon are older than 60 seconds

        they are no longer considered valid, this will provide

        the last position and show the age for the last position.

        Aircraft will only be in the aircraft json if a position

        has been received in the last 60 seconds or if any message

        has been received in the last 30 seconds.'
      additionalProperties: false
      properties:
        lat:
          type:
          - number
          - 'null'
          format: float
        lon:
          type:
          - number
          - 'null'
          format: float
        nic:
          type:
          - integer
          - 'null'
          description: Navigation Integrity Category (2.2.3.2.7.2.6)
          format: int32
        rc:
          type:
          - integer
          - 'null'
          description: 'Radius of Containment, meters; a measure of position integrity

            derived from NIC and supplementary bits. (2.2.3.2.7.2.6, Table 2-69)'
          format: int32
        seen_pos:
          type:
          - number
          - 'null'
          description: How long ago (in seconds before “now”) the position was last updated
          format: double
    ApiUnauthorizedResponse:
      type: object
      additionalProperties: false
      properties:
        msg:
          type: string
        reason:
          type:
          - string
          - 'null'
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    FilterRequest:
      type: object
      description: Model describing filter criteria for live aircraft data.
      additionalProperties: false
      properties:
        logical_operator:
          type: string
          description: Specifies the logical operator to use when combining filters.
        filters:
          type: array
          description: Specifies the filters to apply to the aircraft data.
          items:
            $ref: '#/components/schemas/FilterDefinition'
    RequestedUrlTooLongResponse:
      type: object
      description: Requested URL is too long.
      additionalProperties: false
      properties:
        msg:
          type: string
    RegistrationRequest:
      type: object
      description: Model for querying api for multiple aircraft by registration numbers
      additionalProperties: false
      properties:
        registrations:
          type: array
          items:
            type: string
    AircraftCollectionResponse:
      type: object
      description: Response envelope for the multiple aircraft endpoint.
      additionalProperties: false
      properties:
        ac:
          type: array
          description: List of aircraft with all available information.
          items:
            $ref: '#/components/schemas/AircraftSingleResponse'
        msg:
          type: string
          description: Message indicating the status of the request overall.
        now:
          type: integer
          description: Unix timestamp of the current UTC time on the server (ms).
          format: int64
        total:
          type: integer
          description: The number of aircraft in the response.
          format: int32
        ctime:
          type: integer
          description: Unix timestamp (ms) of when the underlying data was last updated.
          format: int64
        ptime:
          type: integer
          description: Time taken on server to process the request (ms).
          format: int64
    ApiForbiddenResponse:
      type: object
      additionalProperties: false
      properties:
        msg:
          type: string
        reason:
          type:
          - string
          - 'null'
    ApiTooManyRequestsResponse:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
    AcasResolutionAdvisoryResponse:
      type: object
      description: ACAS Resolution Advisory Class
      additionalProperties: false
      properties:
        utc:
          type:
          - string
          - 'null'
          description: UTC timestamp of the advisory.
        unix_timestamp:
          type:
          - number
          - 'null'
          description: Unix timestamp.
          format: double
        bytes:
          type:
          - string
          - 'null'
          description: Advisory bytes as a string.
        ARA:
          type:
          - string
          - 'null'
          description: Advisory ARA field.
        RAT:
          type:
          - string
          - 'null'
          description: Advisory RAT field.
        MTE:
          type:
          - string
          - 'null'
          description: Advisory MTE field.
        RAC:
          type:
          - string
          - 'null'
          description: Advisory RAC field.
        advisory_complement:
          type:
          - string
          - 'null'
          description: Advisory complement description.
        advisory:
          type:
          - string
          - 'null'
          description: Advisory description.
        TTI:
          type:
          - string
          - 'null'
          description: TTI field.
        threat_id_hex:
          type:
          - string
          - 'null'
          description: Threat ID in hexadecimal.
    FilterDefinition:
      type: object
      additionalProperties: false
      properties:
        property:
          type: string
          description: 'Name of the property to filter on. Case-insensitive.

            Only top-level properties are supported at the moment.'
        operator:
          type: string
          description: 'Operator to use when comparing the property value. All string comparisons are case-insensitive.

            Supported operators are:

            - "eq" (equals)

            - "ne" (not equals)

            - "gt" (greater than)

            - "lt" (less than)

            - "ge" (greater than or equal to)

            - "le" (less than or equal to)

            - "isNull" (property value is null)

            - "isNotNull" (property is not null)

            - "contains" (property value contains the specified value)

            - "notContains" (property value does not contain the specified value)

            - "startsWith" (property value starts with the specified value)

            - "notStartsWith" (property value does not start with the specified value)

            - "endsWith" (property value ends with the specified value)

            - "notEndsWith" (property value does not end with the specified value)'
        value:
          description: "Value to compare the property against.\nThis can be a string, number, boolean and must match target property type.\n- If number - it will be parsed as double (scientific notation is not supported).\n- If string - maximum length is 255 characters.\n- If boolean - it will be parsed as boolean.\n            \nValue is not required for operators \"isNull\" and \"isNotNull\"."
  securitySchemes:
    X-Api-Key:
      type: apiKey
      description: Provide your API key via x-api-key header to access the API.
      name: x-api-key
      in: header
x-generator: NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))
