{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "ADSB Exchange API",
    "description": "The ADSB Exchange API provides real-time access to live global flight data,\nenabling retrieval of detailed information on aircraft positions, flight events, historical trace files,\nand many more aviation metrics. <br /><br />\nKnown for its accurate data, ADSB Exchange API is ideal\nfor aviation tracking applications, research, and analytics, offering extensive coverage powered by a\nglobal network of ADS-B and MLAT receivers. <br /><br />\nThis documentation is available in <a href=\"/api/aircraft/v2/docs\">ReDoc</a> and <a href=\"/api/aircraft/v2/docs/swagger\">Swagger</a> formats.\n<p>\n<b>Important developer notes:</b><br />\n<ul>\n  <li>When designing API client, please ensure that all requests include the 'Accept-Encoding' header with 'gzip' value.</li>\n  <li>When property values are not available, they will be omitted from the response object overall.</li>\n  <li>When parsing JSON response do not hard-code the order of properties. Use property names to access values.</li>\n  <li>We will never remove or rename properties. However, we may add new properties. Please ensure your code is resilient to new additive properties on the response objects.</li>\n</ul>\n</p>",
    "termsOfService": "https://www.adsbexchange.com/terms-of-use/",
    "contact": {
      "name": "Contact ADSB Exchange",
      "url": "https://www.adsbexchange.com/products/enterprise-api/"
    },
    "version": "v2",
    "x-logo": {
      "url": "https://adsbexchange.com/wp-content/uploads/ax_logo_background_api-scaled.avif",
      "href": "#"
    }
  },
  "servers": [
    {
      "url": "https://gateway.adsbexchange.com/api/aircraft/v2"
    }
  ],
  "paths": {
    "/all": {
      "get": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get all aircraft",
        "description": "Returns all aircraft currently being tracked.\n\nNote: This endpoint can be slow or unresponsive in Swagger UI due to the large volume of data returned. For best results, use an external tool (like Postman or curl).",
        "operationId": "GetApiAircraftV2All",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of aircraft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/total-aircraft": {
      "get": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get total aircraft",
        "description": "Returns only count of aircraft currently being tracked.",
        "operationId": "GetApiAircraftV2TotalAircraft",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of aircraft with only total aircraft number set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/filter": {
      "post": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Filter aircraft by criteria",
        "description": "Filters and returns only aircraft that match the provided criteria.\nFilter contains of a list of filter definitions and a logical operator that defines how filter criteria shall be combined.\n\nTwo logical operators are supported: \"and\" and \"or\". Default is \"and\" when property is not provided.\n\nFilter definition consists of the following properties:\n* \"property\" (string) - name of the property to filter by. Case-insensitive. Filtering only on top-level properties is supported.\n* \"operator\" (string) - comparison operator. All string comparisons are case-insensitive. Supported operators:\n    * \"eq\" (equals)\n    * \"ne\" (not equals)\n    * \"gt\" (greater than, number only)\n    * \"lt\" (less than, number only)\n    * \"ge\" (greater than or equal to, number only)\n    * \"le\" (less than or equal to, number only)\n    * \"isNull\" (property value is null)\n    * \"isNotNull\" (property is not null)\n    * \"contains\" (property contains the value, string only)\n    * \"notContains\" (property does not contain the value, string only)\n    * \"startsWith\" (property starts with the value, string only)\n    * \"notStartsWith\" (property does not start with the value, string only)\n    * \"endsWith\" (property ends with the value, string only)\n    * \"notEndsWith\" (property does not end with the value, string only)\n* \"value\" (string/number/boolean) - value to compare the property to.\nIf string - comparison is case-insensitive.\nIf number has decimal point - it will be parsed as double, otherwise as long.\nDecimals are compared with precision of 6 digits after the point (scientific notation is not supported).\nYou have to ensure type of the value specified matches the target property type (i.e. if response object type is number, you have to provide number).\n\nYou can supply up to 10 filters in a single request.\n\n**Example 1**: get all airborne aircraft under 5000 feet:\n```\nPOST /api/aircraft/v2/filter\n            \n{\n    \"filters\": [\n      {\n        \"property\": \"alt_baro\",\n        \"operator\": \"le\",\n        \"value\": 5000\n      }\n    ]\n}\n            \n```\nPlease note, that when numeric value is provided, aircraft with value \"ground\" are excluded.\n\n            \n**Example 2**: get aircraft that have updated their position in the last second:\n```\nPOST /api/aircraft/v2/filter\n            \n{\n    \"filters\": [\n      {\n        \"property\": \"seen\",\n        \"operator\": \"le\",\n        \"value\": 1\n      }\n    ]\n}\n            \n```\nIf you're calling API at high frequency rate, this can be a reliable way to get only aircraft that have updated their position since the last request,\nand reduce the amount of data your application has to process.\n\n*Please note, if you decide to proceed this way - you have to keep track of the time when the last successful request\nwas made on your end, so that if you miss a request, you can adjust the time accordingly. Using value smaller than 0.5 seconds is not recommended, as\nAPI server refreshes aircraft positions every 500 milliseconds.*\n            \n\n**Example 3**: get all airborne aircraft under 1000 feet and ones on the ground:\n```\nPOST /api/aircraft/v2/filter\n            \n{\n    \"logical_operator\": \"or\",\n    \"filters\": [\n      {\n        \"property\": \"alt_baro\",\n        \"operator\": \"le\",\n        \"value\": 1000\n      },\n      {\n        \"property\": \"alt_baro\",\n        \"operator\": \"eq\",\n        \"value\": \"ground\"\n      }\n    ]\n}\n            \n```\n\n            \n**Example 4**: get all WestJet and AirCanada aircraft:\n```\nPOST /api/aircraft/v2/filter\n            \n{\n    \"logical_operator\": \"or\",\n    \"filters\": [\n      {\n        \"property\": \"flight\",\n        \"operator\": \"startsWith\",\n        \"value\": \"WJA\"\n      },\n      {\n        \"property\": \"flight\",\n        \"operator\": \"startsWith\",\n        \"value\": \"ACA\"\n      }\n    ]\n}\n```\n\n            \n**Example 5**: get PIA aircraft:\n```\nPOST /api/aircraft/v2/filter\n            \n{\n    \"logical_operator\": \"or\",\n    \"filters\": [\n      { \"property\": \"dbFlags\", \"operator\": \"eq\", \"value\": 4 },\n      { \"property\": \"dbFlags\", \"operator\": \"eq\", \"value\": 5 },\n      { \"property\": \"dbFlags\", \"operator\": \"eq\", \"value\": 6 },\n      { \"property\": \"dbFlags\", \"operator\": \"eq\", \"value\": 7 },\n      { \"property\": \"dbFlags\", \"operator\": \"eq\", \"value\": 12 },\n      { \"property\": \"dbFlags\", \"operator\": \"eq\", \"value\": 13 },\n      { \"property\": \"dbFlags\", \"operator\": \"eq\", \"value\": 14 },\n      { \"property\": \"dbFlags\", \"operator\": \"eq\", \"value\": 15 }\n    ]\n}\n```\nExplanation: whether aircraft is PIA or not is defined by the third bit in dbFlags property \"dbFlags & 4\".\nIn binary notation, 4 is 0100. Thus, if the third bit is set, the aircraft is PIA.\nWhich makes the following numeric values satisfy the requirement: 4, 5, 6, 7, 12, 13, 14, 15.\n\n            \n**Example 6**: get aircraft where type is known:\n```\nPOST /api/aircraft/v2/filter\n            \n{\n    \"filters\": [\n      {\n        \"property\": \"t\",\n        \"operator\": \"isNotNull\"\n      }\n    ]\n}\n```",
        "operationId": "PostApiAircraftV2Filter",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "JSON request model containing definition of filter criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models that match filter criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request can not be processed due to error in filters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/hex/{hex}": {
      "get": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get last known position",
        "description": "This endpoint will return a last known position for the aircraft.\n\n\nEach aircraft model will contain the \"now\" property (unix timestamp, milliseconds) denoting the time when the aircraft was last observed.\n\n**Important:** Right now for backwards compatibility purposes, when requesting single aircraft by ICAO code,\ninstead of returning a collection of aircraft with a single aircraft, the method will return a single aircraft model. We understand\nthis is an unconventional behavior, which will be addressed in the future version of the API. To force a collection response, append a trailing comma\nto the ICAO code provided in the URL. This will still return a single aircraft model, but it will be wrapped in a collection as per API spec.\n\nExample:\n```\nGET /api/aircraft/v2/hex/A1B2C3,\n```\nwill force a collection response.",
        "operationId": "GetApiAircraftV2Hex",
        "parameters": [
          {
            "name": "hex",
            "in": "path",
            "required": true,
            "description": "ICAO code of the aircraft, or coma-separated list of aircraft ICAO codes.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "When single aircraft requested, returns a single aircraft model response, otherwise will return a collection of aircraft models. See the description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "414": {
            "description": "Requested URL is too long",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestedUrlTooLongResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/hex": {
      "post": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get last known position",
        "description": "This endpoint will return a last known position for the aircraft. Because GET request has a limit on the number of characters in the URL,\nit is recommended to use POST request when querying multiple aircraft (more than 10).\n\n\nEach aircraft model will contain the \"now\" property (unix timestamp, milliseconds) denoting the time when the aircraft was last observed.\n\n**Important:** Right now for backwards compatibility purposes, when requesting single aircraft by ICAO code,\ninstead of returning a collection of aircraft with a single aircraft, the method will return a single aircraft model. We understand\nthis is an unconventional behavior, which will be addressed in the future version of the API. To force a collection response, append an empty string to\n\"hex_list\" property in the JSON request model. This will still return a single aircraft model, but it will be wrapped in a collection as per API spec.\n\nExample:\n```\nPOST /api/aircraft/v2/hex\n            \n{\n    \"hex_list\": [\"A1B2C3\", \"\"]\n}\n```\nwill force a collection response.",
        "operationId": "PostApiAircraftV2Hex",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "JSON request model containing a list of ICAO codes to retrieve aircraft last known data for.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AircraftRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "When single aircraft requested, returns a single aircraft model response, otherwise will return a collection of aircraft models. See the description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/icao/{icao}": {
      "get": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get aircraft by ICAO",
        "description": "This endpoint will return aircraft data for the provided ICAO code(s). This will not return a match if aircraft has not been seen by ADSB Exchange in the last 15 minutes.",
        "operationId": "GetApiAircraftV2Icao",
        "parameters": [
          {
            "name": "icao",
            "in": "path",
            "required": true,
            "description": "ICAO code of the aircraft, or coma-separated list of aircraft ICAO codes.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "414": {
            "description": "Requested URL is too long",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestedUrlTooLongResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/icao": {
      "post": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get aircraft by ICAO",
        "description": "This endpoint will return aircraft data for the provided ICAO code(s).\nThis will not return a match if aircraft has not been seen by ADSB Exchange in the last 15 minutes.\n\nBecause GET request has a limit on the number of characters in the URL,\nit is recommended to use POST request when querying multiple aircraft (more than 10).",
        "operationId": "PostApiAircraftV2Icao",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "JSON request model containing a list of ICAO codes to retrieve aircraft data for.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AircraftRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/mil": {
      "get": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get military aircraft",
        "description": "This endpoint will return only military aircraft.",
        "operationId": "GetApiAircraftV2Mil",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/callsign/{callsign}": {
      "get": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get aircraft by callsign",
        "description": "This endpoint will return aircraft data for the provided callsign(s).",
        "operationId": "GetApiAircraftV2Callsign",
        "parameters": [
          {
            "name": "callsign",
            "in": "path",
            "required": true,
            "description": "Callsign of the aircraft, or coma-separated list of callsigns.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/registration/{registration}": {
      "get": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get aircraft by registration",
        "description": "This endpoint will return aircraft data for the provided registration number(s).",
        "operationId": "GetApiAircraftV2Registration",
        "parameters": [
          {
            "name": "registration",
            "in": "path",
            "required": true,
            "description": "Registration number of the aircraft, or comma-separated list of registrations.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/registration": {
      "post": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get aircraft by registrations",
        "description": "This endpoint will return aircraft data for the provided registration number(s).\n\nBecause GET request has a limit on the number of characters in the URL,\nit is recommended to use POST request when querying multiple aircraft (more than 10).",
        "operationId": "PostApiAircraftV2Registration",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "JSON request model containing a list of registration numbers to retrieve aircraft data for.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/sqk/{squawk}": {
      "get": {
        "tags": [
          "Live Positional Data"
        ],
        "summary": "Get aircraft by squawk",
        "description": "This endpoint will return aircraft data for the provided squawk code(s).",
        "operationId": "GetApiAircraftV2Sqk",
        "parameters": [
          {
            "name": "squawk",
            "in": "path",
            "required": true,
            "description": "Squawk of the aircraft, or coma-separated list of squawk codes.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/lat/{lat}/lon/{lon}/dist/{dist}": {
      "get": {
        "tags": [
          "Geospatial Filtering"
        ],
        "summary": "Get aircraft in radius",
        "description": "This endpoint will return aircraft data within the given radius (NM) of the provided coordinates.\n\nGet aircraft within 50 nautical miles of San Francisco:\n```\nGET /api/aircraft/v2/lat/37.7749/lon/-122.4194/dist/50\n```",
        "operationId": "GetApiAircraftV2LatLonDist",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "required": true,
            "description": "Latitude of the center point.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 1
          },
          {
            "name": "lon",
            "in": "path",
            "required": true,
            "description": "Longitude of the center point.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 2
          },
          {
            "name": "dist",
            "in": "path",
            "required": true,
            "description": "Radius in nautical miles.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 3
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models within the given radius.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/proximity/radius": {
      "post": {
        "tags": [
          "Geospatial Filtering"
        ],
        "summary": "Get aircraft in radius",
        "description": "This endpoint will return aircraft data within the given radius (NM) of the provided points.\n\nGet aircraft within 50 nautical miles of San Francisco, and within 20 nautical miles from New York (KJFK) at altitudes between 5000 and 30000 feet:\n```\nPOST /api/aircraft/v2/proximity/radius\n{\n    \"filters\": [\n        {\n            \"latitude\": 37.7749,\n            \"longitude\": -122.4194,\n            \"radius\": 50\n        },\n        {\n            \"latitude\": 40.641,\n            \"longitude\": -73.775,\n            \"radius\": 20,\n            \"altitude_min\": 5000,\n            \"altitude_max\": 30000\n        },\n        ...\n    ]\n}\n```",
        "operationId": "PostApiAircraftV2ProximityRadius",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "JSON request model containing a list of distance filters (points).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProximityRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models within the given radius.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/minimal/lat/{lat}/lon/{lon}/dist/{dist}": {
      "get": {
        "tags": [
          "Geospatial Filtering"
        ],
        "summary": "Get aircraft in radius (minimal)",
        "description": "This endpoint will return aircraft data within the given radius (NM) of the provided coordinates. The data will be returned in a minimal representation.",
        "operationId": "GetApiAircraftV2MinimalLatLonDist",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "required": true,
            "description": "Latitude of the center point.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 1
          },
          {
            "name": "lon",
            "in": "path",
            "required": true,
            "description": "Longitude of the center point.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 2
          },
          {
            "name": "dist",
            "in": "path",
            "required": true,
            "description": "Radius in nautical miles.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 3
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models within the given radius.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionMinimalResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/nohex/dist/{dist}/above/{alt}/lat/{lat}/lon/{lon}": {
      "get": {
        "tags": [
          "Geospatial Filtering"
        ],
        "summary": "Get aircraft in radius (above altitude)",
        "description": "This endpoint will return aircraft data within the given radius (NM) of the provided coordinates, and above the provided altitude (ft).\n\nGet aircraft within 50 nautical miles of San Francisco, above 5000 feet (sea level):\n```\nGET /nohex/dist/50/above/5000/lat/37.7749/lon/-122.4194\n```",
        "operationId": "GetApiAircraftV2NohexDistAboveLatLon",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "required": true,
            "description": "Latitude of the center point.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 1
          },
          {
            "name": "lon",
            "in": "path",
            "required": true,
            "description": "Longitude of the center point.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 2
          },
          {
            "name": "dist",
            "in": "path",
            "required": true,
            "description": "Radius in nautical miles.",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 3
          },
          {
            "name": "alt",
            "in": "path",
            "required": true,
            "description": "Altitude in feet above sea level.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models within the given radius.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/airport/{airport}": {
      "get": {
        "tags": [
          "Geospatial Filtering"
        ],
        "summary": "Get aircraft near the airport",
        "description": "This endpoint will return aircraft data within 5 nautical miles of the provided airport ICAO code.\n\nGet aircraft within 5 nautical miles of San Francisco airport:\n```\nGET /api/aircraft/v2/airport/KSFO\n```\nUse https://www.world-airport-codes.com/ to find ICAO codes for airports.",
        "operationId": "GetApiAircraftV2Airport",
        "parameters": [
          {
            "name": "airport",
            "in": "path",
            "required": true,
            "description": "ICAO code of the airport.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models within the given radius.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/airport": {
      "post": {
        "tags": [
          "Geospatial Filtering"
        ],
        "summary": "Get aircraft near airports",
        "description": "This endpoint will return aircraft data within 5 nautical miles of the provided airport ICAO code(s).\n\nGet aircraft within 5 nautical miles of San Francisco and Calgary airports:\n```\nPOST /api/aircraft/v2/airport\n{\n    \"airports\": [\"KSFO\", \"CYYC\"]\n}\n```\nUse https://www.world-airport-codes.com/ to find ICAO codes for airports.",
        "operationId": "PostApiAircraftV2Airport",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "JSON request model containing airport ICAO code.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AirportRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models within the given radius.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/geospatial/boundary": {
      "post": {
        "tags": [
          "Geospatial Filtering"
        ],
        "summary": "Get aircraft within boundary",
        "description": "Returns all aircraft within the given geospatial boundary(ies) described by GeoJSON Features.\n\n\nThe boundary is defined as a GeoJSON \"FeatureCollection\" object that contains multiple \"Feature\" objects.\nOnly \"Polygon\" and \"MultiPolygon\" feature types are supported.\n\nWhen feature object in the request contains \"properties\" dictionary,\neach aircraft matched by the boundaries of the geometry in the response will inherit those.\nThis allows sending single request with multiple geometries. API supports having up to 5 properties per feature.\n**Important**: When overlapping geometries are provided, the aircraft will be returned only once.\nAircraft will inherit all properties from all geometries it falls into.\n\nTypical use-cases include:\n* Monitoring boundaries of multiple locations (e.g. airports, cities, regions)\n* Monitoring approaching certain airspace boundaries (defining multiple overlapping geometries)\n\nThe more geometries supplied in a single request, the slower the response becomes.\nWe recommended making more requests with fewer geometries to ensure faster response times.\n\nGet aircraft in the San Francisco Bay Area:\n```\nPOST /api/aircraft/v2/geospatial/boundary\n{\n  \"type\": \"FeatureCollection\",\n  \"features\": [\n    {\n      \"type\": \"Feature\",\n      \"properties\": {\n          \"id\": \"usa-san-francisco-bay-area\",\n          \"name\": \"San Francisco Bay Area\"\n      },\n      \"geometry\": {\n        \"coordinates\": [\n          [\n            [\n              -122.44631395117611,\n              37.83516640724265\n            ],\n            [\n              -122.5693889887842,\n              37.75095177721121\n            ],\n            [\n              -122.43882801189045,\n              37.67277406071676\n            ],\n            [\n              -122.29229571649552,\n              37.749864464293466\n            ],\n            [\n              -122.44631395117611,\n              37.83516640724265\n            ]\n          ]\n        ],\n        \"type\": \"Polygon\"\n      }\n    }\n  ]\n}\n```\n\n\nThe GeoJSON Specification can be found at https://geojson.org/.\n\nUsing https://geojson.io/ simplifies creating GeoJSON boundaries.",
        "operationId": "PostApiAircraftV2GeospatialBoundary",
        "parameters": [
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "FeatureCollectionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureCollectionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models within the given boundaries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "When the request is malformed or the GeoJSON is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/geospatial/country/{country}": {
      "get": {
        "tags": [
          "Geopolitical Filtering"
        ],
        "summary": "Get aircraft by country",
        "description": "Returns aircraft within the boundaries of the given country.\n\nSee below examples of how to query aircraft by country.\nCountry must be specified as ISO 3166-1 alpha-2 code.\nThe complete list of supported country codes can be accessed here: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\n\nUSA:\n* `/api/aircraft/v2/geospatial/country/US`\n\nCanada:\n* `/api/aircraft/v2/geospatial/country/CA`",
        "operationId": "GetApiAircraftV2GeospatialCountry",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "Country ISO 3166-1 alpha-2 code. Case-insensitive.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/geospatial/country/{country}/subdivisions": {
      "get": {
        "tags": [
          "Geopolitical Filtering"
        ],
        "summary": "Get subdivisions by country code",
        "description": "Whe country code is provided, this endpoint will return a list of state/province subdivisions for the given country.\n\nThis endpoint is complimentary to `/geospatial/country/{country}/subdivision/{subdivision}` endpoint.\n\nThe complete list of supported country codes and states/provinces can be accessed here:\n* Countries: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\n* States/Provinces: https://en.wikipedia.org/wiki/ISO_3166-2\n\n\nFor example, to get a list of subdivisions for the United States you would call:\n```\nGET /api/aircraft/v2/geospatial/country/US/subdivisions\n```\nand expect a response with a collection of subdivisions:\n```json\n{\n    \"country\": \"us\",\n    \"subdivisions\": [\n        {\n            \"name\": \"Washington\",\n            \"iso_a2\": \"US\",\n            \"iso_3166_2\": \"US-WA\",\n            \"adm1_code\": \"USA-3519\",\n            \"name_alt\": \"WA|Wash.\",\n            \"region\": \"West\"\n        },\n        ...\n    ]\n}\n```\nand in requests to `/geospatial/country/{country}/subdivision/{subdivision}` endpoint you would use `iso_3166_2` code as a subdivision identifier.",
        "operationId": "GetApiAircraftV2GeospatialCountrySubdivisions",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "Country ISO 3166-1 alpha-2 code. Case-insensitive.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of subdivisions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoboundaryCountrySubdivisionsResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/geospatial/country/{country}/subdivision/{subdivision}": {
      "get": {
        "tags": [
          "Geopolitical Filtering"
        ],
        "summary": "Get aircraft by country subdivision: state/province",
        "description": "Returns aircraft within the boundaries of the given country's subdivision: state or province.\n\n* Country must be specified as ISO 3166-1 alpha-2 code.\n* State/province must be specified as ISO 3166-2 code. You can omit the country code prefix.\nBoth of the arguments are case-insensitive.\n            \nSee below examples of how to query aircraft by country and state/province.\n            \nUSA - California:\n* `/api/aircraft/v2/geospatial/country/US/subdivision/CA`\n* `/api/aircraft/v2/geospatial/country/US/subdivision/US-CA`\n            \nCanada - British Columbia:\n* `/api/aircraft/v2/geospatial/country/CA/subdivision/BC`\n* `/api/aircraft/v2/geospatial/country/CA/subdivision/CA-BC`\n            \nFrance - Paris:\n* `/api/aircraft/v2/geospatial/country/FR/subdivision/75`\n* `/api/aircraft/v2/geospatial/country/FR/subdivision/FR-75`\n\n\nThe complete list of supported country codes and states/provinces can be accessed here:\n* Countries: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\n* States/Provinces: https://en.wikipedia.org/wiki/ISO_3166-2\n\nYou can get supported states/provinces by making GET request to\n`/geospatial/country/{country}/subdivisions` endpoint.",
        "operationId": "GetApiAircraftV2GeospatialCountrySubdivision",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "Country ISO 3166-1 alpha-2 code. Case-insensitive.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "subdivision",
            "in": "path",
            "required": true,
            "description": "Subdivision (state/province) ISO_3166-2 code. You can omit the country code prefix. Case-insensitive.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/geospatial/region/{region}": {
      "get": {
        "tags": [
          "Geopolitical Filtering"
        ],
        "summary": "Get aircraft by geographical region",
        "description": "Returns aircraft within the boundaries of the given geographical region.\n\nSupported regions:\n* Northern/Eastern/Southern/Western Europe\n* North/Central/South America\n* Central/East/South-East/South/West Asia\n* North/Middle/East/South/West Africa\n* Australia and New Zealand\n* Caribbean\n* Melanesia\n* Micronesia\n* Polynesia\n\n\nTo filter by 'North America' use pure text value from the list above. Remove spaces, or URL-encode them. Case-insensitive.\n            \n* `/api/aircraft/v2/geospatial/region/NorthAmerica`\n* `/api/aircraft/v2/geospatial/region/North%20America`\n\n\nTo filter by 'South-East Asia':\n            \n* `/api/aircraft/v2/geospatial/region/south-eastasia`\n* `/api/aircraft/v2/geospatial/region/South-East%20Asia`",
        "operationId": "GetApiAircraftV2GeospatialRegion",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Name of the geographical region from the list above. Case-insensitive.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/geospatial/continent/{continent}": {
      "get": {
        "tags": [
          "Geopolitical Filtering"
        ],
        "summary": "Get aircraft by continent",
        "description": "Returns aircraft within the boundaries of the given continent.\n\nSupported continents:\n* Americas\n* Africa\n* Asia\n* Europe\n* Oceania\n* Antarctica\n\n\nTo filter by continent use pure text value from the list above.\n\nExamples:\n* `/api/aircraft/v2/geospatial/continent/Europe`\n* `/api/aircraft/v2/geospatial/continent/Antarctica`",
        "operationId": "GetApiAircraftV2GeospatialContinent",
        "parameters": [
          {
            "name": "continent",
            "in": "path",
            "required": true,
            "description": "Name of the continent from the list above. Case-insensitive.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of aircraft models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftCollectionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/operations/icaos": {
      "post": {
        "tags": [
          "Operations"
        ],
        "summary": "Get operations by multiple aircraft ICAO codes",
        "description": "Returns operations (Takeoffs and Landings) for the given ICAO codes. Response is paginated and sorted by time (descending). Returns 1000 items per page.\nMax number of ICAOs per request is 500 (enforced by model validation), further constrained by FleetLimit entitlement.",
        "operationId": "PostApiAircraftV2OperationsIcaos",
        "parameters": [
          {
            "name": "page",
            "x-originalName": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "time_from",
            "x-originalName": "unixTimestampFrom",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "time_to",
            "x-originalName": "unixTimestampTo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperationsIcaosRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "402": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/operations/icao/{icao}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get operations by aircraft",
        "description": "Returns operations (Takeoffs and Landings) for the given ICAO code (hex code) of the aircraft.\nResponse is paginated and sorted by time (descending). Returns 20 items per page.\n\n```\nGET /api/aircraft/v2/operations/icao/A1B2C3\n```",
        "operationId": "GetApiAircraftV2OperationsIcao",
        "parameters": [
          {
            "name": "icao",
            "in": "path",
            "required": true,
            "description": "ICAO code of the aircraft.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "page",
            "x-originalName": "pageNumber",
            "in": "query",
            "description": "Page number to return. When not specified, defaults to 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "time_from",
            "x-originalName": "unixTimestampFrom",
            "in": "query",
            "description": "Unix timestamp from which to start the search. When not specified, defaults to 24 hours ago. Value in seconds.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "time_to",
            "x-originalName": "unixTimestampTo",
            "in": "query",
            "description": "Unix timestamp to which to end the search. When not specified, defaults to current time. Value in seconds.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of operational events: takeoffs and landings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/operations/airports": {
      "post": {
        "tags": [
          "Operations"
        ],
        "summary": "Get operations by multiple airports",
        "description": "Returns operations (Takeoffs and Landings) for the given ICAO codes of the airports. Response is paginated and sorted by time (descending). Returns 1000 items per page.\nMax number of airports per request is 500 (hard limit), further constrained by AirportLimit entitlement.\n\n**Example**: get operations for three main California airports (Los Angeles, San Francisco, San Diego):\n```\nPOST /api/aircraft/v2/operations/airports\n            \n{\n    \"airports\": [\"KLAX\", \"KSFO\", \"KSAN\"]\n}\n```",
        "operationId": "PostApiAircraftV2OperationsAirports",
        "parameters": [
          {
            "name": "page",
            "x-originalName": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "time_from",
            "x-originalName": "unixTimestampFrom",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "time_to",
            "x-originalName": "unixTimestampTo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperationsAirportRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "402": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/operations/airport/{airport}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get operations by airport",
        "description": "Returns operations (Takeoffs and Landings) for the given ICAO code of the airport. Response is paginated and sorted by time (descending). Returns 20 items per page.\n\nGet operations for San Francisco airport for the last 24 hours:\n```\nGET /api/aircraft/v2/operations/airport/KSFO\n```\nUse https://www.world-airport-codes.com/ to find ICAO codes for airports.",
        "operationId": "GetApiAircraftV2OperationsAirport",
        "parameters": [
          {
            "name": "airport",
            "in": "path",
            "required": true,
            "description": "ICAO code of the airport.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "page",
            "x-originalName": "pageNumber",
            "in": "query",
            "description": "Page number to return. When not specified, defaults to 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "time_from",
            "x-originalName": "unixTimestampFrom",
            "in": "query",
            "description": "Unix timestamp from which to start the search. When not specified, defaults to 24 hours ago. Value in seconds.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "time_to",
            "x-originalName": "unixTimestampTo",
            "in": "query",
            "description": "Unix timestamp to which to end the search. When not specified, defaults to current time. Value in seconds.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "type": "string",
            "name": "Accept-Encoding",
            "in": "header",
            "required": true,
            "description": "The encoding type the client will accept in the response. API call must use compression.",
            "default": "gzip",
            "example": "gzip"
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing a collection of operational events: takeoffs and landings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationsResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiForbiddenResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Api-Key": []
          }
        ]
      }
    },
    "/traces/{folder}/{jsonFile}": {
      "get": {
        "tags": [
          "Traces"
        ],
        "summary": "Get recent trace file",
[...]
